html {
  @apply bg-dark-gray text-white;
}

body {
  @apply text-gray-200 min-h-screen;
}

@screen lg {
  body {
    @apply text-lg;
  }
}

h1 {
  @apply text-3xl font-semibold leading-relaxed mb-4 border-b-4 border-gray-700 inline-block;
}

h2 {
  @apply text-2xl font-semibold leading-relaxed mb-4 border-b-4 border-gray-700 inline-block;
}

h3 {
  @apply text-xl font-semibold leading-relaxed mb-4 border-b-4 border-gray-700 inline-block;
}

p {
  @apply mb-4;
}

.toasted.toasted-primary.toast {
  @apply bg-gray-900 border-purple-600 border-2 rounded-md px-5 py-3 font-semibold font-navigation m-2;
}

.toasted.toasted-primary.toast i {
  @apply pr-2;
}

blockquote {
  @apply mb-4;
}

pre {
  @apply rounded-md;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute bg-gray-900 right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/GoogleSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/GoogleSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/GoogleSans-Bold.ttf') format('truetype');
}

